<footer class="footer bg-dark text-light">
    <ul class="nav justify-content-start mb-1">
        <li class="nav-item"><a href="#" class="nav-link text-light-emphasis"><i class="bi bi-google"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light-emphasis"><i class="bi bi-instagram"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light-emphasis"><i class="bi bi-facebook"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light-emphasis"><i class="bi bi-snapchat"></i></a></li>
    </ul>
    <p class="text-left text-light-emphasis ps-3">© 2023 Fancy Mane, Inc</p>
</footer>
