<!--Hero-->
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h2 class="display-4 fancy-header">Grow Beautifully!</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Grow a beautiful mane and tail on all your equines with all natural herbs formulated from mother earth...</p>

    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="/assets/img/AdobeStock_331689300.jpeg" class="img-fluid border rounded-3 shadow-lg mb-8" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

   <!--Cards-->
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Products</h2>
  
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg card-background-1">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="lh-1 fw-medium text-center text-light text-uppercase">Mane growth oils that work!</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg card-background-2">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h4 class="lh-1 fw-medium text-center text-light text-uppercase">Built In Conditioners & Natural Insect Repellant</h4>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
              </li>
  
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg  card-background-3">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="lh-1 fw-medium text-center text-dark-emphasis text-uppercase">XL Soap Bars</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
              </li>
  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>