<div class="container-xl mt-4">
    <h1 class="mb-4">Your Shopping Cart</h1>
  
    <!-- Cart Items Table -->
    <div *ngIf="cartItems.length > 0; else emptyCart">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.title }}</td>
            <td>${{ item.price.toFixed(2) }}</td>
            <td>
              <input 
              type="number" 
              [(ngModel)]="item.quantity" 
              (change)="updateItemQuantity(i, $event)" 
              class="form-control" 
              min="1" />
            </td>
            <td>${{ (item.price * item.quantity).toFixed(2) }}</td>
            <td>
              <button (click)="removeItem(i)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- Total and Checkout -->
      <div class="d-flex justify-content-between py-4">
        <h3>Total: ${{ getTotal().toFixed(2) }}</h3>
        <button class="btn btn-outline-info">Proceed to Checkout</button>
      </div>
    </div>
  
    <!-- Empty Cart Message -->
    <ng-template #emptyCart>
        <div class="position-relative min-h-50">
            <p>Your cart is empty. <a href="#" routerLink="/products">Start shopping now</a>!</p>

        </div>
    </ng-template>
</div>