 <!--Ingredients-->

 <div class="container py-3">

    <div class="container-sm py-2">
        <h2 class="fancy-header align-self-baseline">Nourishing Ingredients</h2>
    
        <div class="g-5 py-3">
          <div class="col d-flex flex-column align-items-start">
            <h1 class="color-dark fs-4 text-uppercase"></h1>
            <p class="text-muted">At Fancy Mane, we have incorporated our knowledge of equine care with herbal remedies to craft remarkable products. The combination of herbal ingredients will give you results that you didn't know were possible with simple herbs. Our products are very natural and can be used on human hair and body if desired. In actuality, these herbs have numurous studies on their medicinal effects in human health and topical treatments. Our ingredients are carefully selected and have been proven safe and effective in equine topical care. You're horse will love how their new found shine, mane, and tail length. We believe in our products and offer a 60 day money back guarantee.</p>
          </div>
    
        </div>
    </div>

    <main>
      <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1  mb-3 text-center p-4">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <img src="/assets/img/330px-Coconut_and_oil.jpg" class="mx-auto rounded-top img-cards object-fit-cover w-100">
              <div class="card-header py-3">
                <button type="button" class="btn btn-sm btn-outline-dark">Coconut Oil</button>
              </div>
              <!--<p class="ingredients border-bottom">
                A carrier oil is a very specific oil used to enable a base for a mixture of other oils and ingredients. Coconut oil is great for this purpose because it spreads evenly.
              </p> -->
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <img src="/assets/img/Phyllanthus_officinalis.jpg" class="mx-auto rounded-top img-cards object-fit-cover w-100">
              <div class="card-header py-3">
                <button type="button" class="btn btn-sm btn-outline-dark">Amla Oil</button>
              </div>
              <!--<p class="ingredients border-bottom">
                Amla oil is very beneficial for hair growth and contains a highly concentrated form of antidioxidants.
              </p>-->
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <img src="/assets/img/hydrolyzed-silk.jpg" class="mx-auto rounded-top img-cards object-fit-cover w-100">
              <div class="card-header py-3">
                <button type="button" class="btn btn-sm btn-outline-dark">hydrolyzed-silk</button>              
              </div>
              <!--<p class="ingredients border-bottom">
                This extremely detangling ingredient. Produces a very smooth feel that lasts.
              </p>-->
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <img src="/assets/img/330px-Yucca_elata_blooming (1).jpg" class="mx-auto rounded-top img-cards object-fit-cover w-100">
              <div class="card-header py-3">
                <button type="button" class="btn btn-sm btn-outline-dark">Yucca</button>
              </div>
              <!--<p class="ingredients border-bottom">
                The roots of this plant produce a natural cleansing agent called saponin. Soapwed saponins produce a rich lather to cleanse and nourishes the hair follicle.
              </p>-->
        </div>
        </div>

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <img src="/assets/img/shikakai.jpg" class="mx-auto rounded-top img-cards object-fit-cover w-100">
            <div class="card-header py-3">
              <button type="button" class="btn btn-sm btn-outline-dark">Shikakai</button>
            </div>
            <!--<p class="ingredients border-bottom">
                Shikakai is a cleansing herb that nourishes the scalp              
            </p>-->
          </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <img src="/assets/img/Eucalyptus.jpeg" class="mx-auto rounded-top img-cards object-fit-cover w-100">
              <div class="card-header py-3">
                <button type="button" class="btn btn-sm btn-outline-dark">Eucalyptus</button>
              </div>
                <!--<p class="ingredients border-bottom">
                  This herb has powerful antifungal properties and will help with skin irritations. This ingredient is also used as a natural insect repellant
                </p>-->
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <img src="/assets/img/cocoa-butter.jpg" class="mx-auto rounded-top img-cards object-fit-cover w-100">
              <div class="card-header py-3">
                <button type="button" class="w-100 btn btn-sm btn-outline-dark">Cocoa Butter</button>   
                <!--<p class="ingredients border-bottom">
                    Cocoa butter is used as a base for our soap bars and is incredibly nourishing.
                </p>-->
            </div>
        </div>


</div>