<!--Carousel-->
<div id="myCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="container mx-auto text-center">
          <div class="carousel-caption text-center">
            <h1 class="fw-bold text-uppercase text-black bg-white bg-opacity-50">Explore Products</h1>
            <p class="text-black text-black bg-white bg-opacity-50">All of our products are made using natural herbs.</p>
          </div>
          <img class="container carousel-img" src="/assets/img/AdobeStock_24909942.jpeg" />
        </div>
      </div>
      <div class="carousel-item active mx-auto">
  
        <div class="container mx-auto text-center">
          <div class="carousel-caption text-center">
            <h1  class="fw-bold text-uppercase text-black bg-white bg-opacity-50">Progress...</h1>
            <p class="bg-white text-black bg-opacity-50">Click to see before and after photos.</p>
          </div>
          <img class="container carousel-img" src="/assets/img/AdobeStock_366616780.jpeg" />
        </div>
      </div>
      <div class="carousel-item">
  
        <div class="container mx-auto text-center">
          <div class="carousel-caption text-center">
            <h1 class="fw-bold text-uppercase text-black bg-white bg-opacity-50">Natural Ingredients.</h1>
            <p class="bg-white text-black bg-opacity-50">Learn more about the ingredients we use.</p>
          </div>
          <img class="container carousel-img" src="/assets/img/AdobeStock_244821371.jpeg" />
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <hr class="featurette-divider mt-5">
  
<!--
<div class="p-3 mt-5 text-center">
  <h2 class="fancy-header">Grow Beautifully!</h2>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Grow a beautiful mane and tail on all your equines with all natural herbs formulated from mother earth.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <h4 class="px-4 me-sm-3 fst-italic">Learn More</h4>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 48vh;">
    <div class="container px-4">
      <img src="/assets/img/AdobeStock_331689300.jpeg" class="img-fluid border shadow-sm" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

<hr class="featurette-divider">
-->
<!--
<h1 class="text-center p-4 bg-dark text-light w-full">Products</h1>

<hr class="featurette-divider">
-->
<!--
<div class="container mt-5">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Growth Oils</h2>
    <p class="lead">See growth with the first 30 days of usage! Can also aide in a more even mane growth pattern if the mane naturally falls on both sides.</p>
  </div>
  <div class="col-md-5">
    <img src="/assets/img/330px-Coconut_and_oil.jpg" alt="" width="100%" height="100%">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Conditioning Cleansers</h2>
    <p class="lead">A liquid conditioning cleanser that is packed with great nutritional benefits for mane, tail, and body.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="/assets/img/soapbottle-andsoap.jpg" alt="" width="100%" height="100%">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette mb-5">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">XL Bar Cleansers</h2>
    <p class="lead">These easy to use bar soaps are pretty extraordinary. They last a long time and make bath time a lot easier.</p>
  </div>
  <div class="col-md-5">
    <img src="/assets/img/barsoap.jpg" alt="" width="100%" height="100%">
  </div>
</div>

</div>
-->
<hr class="featurette-divider">
